<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    </style>
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>사용자 목록</legend>
        <ul>
            {% for user in data %}
            <li>이름 : {{user.name}}<br>
                사용자 이름 : {{user.username}}
            </li>
            {% endfor %}
        </ul>
    </fieldset>

    <script src="../static/js/index.js"></script>
</body>
</html>